.todo{
width: 355px;
height: 10rem auto;
background: #F5F5F5;
border-radius: 16px;
margin: 1rem;
border: none;
outline: none;
padding-bottom: 1rem;

}

.point{
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.point2{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    box-sizing: border-box;
    margin-left: 1rem;
    font-weight: 500;
    color: #625F6D;
    font-family: 'Inter';
    font-style: normal;

}

.todo_title{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.todo_title_left{
    display: flex;
    align-items: center;
}


.todo_section{
    display: flex;
    flex-wrap: wrap;
}

